@media (max-width: 991px) {
    .container {
        padding: 0 25px
    }
    .advantage {
        &__descr {
            padding: 0 10px;
        }
    }
    .carousel {
        .slick-dots {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
        }
        .slick-dots button {
            border: none;
            border-radius: 50%;
            font-size: 0;
            width: 15px;
            height: 15px;
            background-color: #757575;
        }
        .slick-active button {
            background-color: #000
        }
    }
    .feedback {
        &__wrapper {
            padding-right: 0;
        }
    }
    .footer {
        &__info {
            top: 40px;
            width: auto;
            height: auto;
            padding: 40px 30px 50px 30px;
        }
        &__addr {
            font-size: 18px;
            line-height: 18px;
        }
        &__phone {
            font-size: 18px;
            line-height: 18px;
        }
    }
}
@media (max-width: 767px) {
    .header {
        justify-content: space-around;
        &__official {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
            margin-top: 70px;
        }
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .advantage {
        padding: 60px 0 70px 0;
        &__wrapper {
            margin-top: 45px;
        }
        &__item {
            width: 220px;
        }
    }
    .title {
        font-size: 25px;
        &_left {
            text-align: center;
        }
    }
    .consultation {
        padding: 50px 0 45px 0;
        min-height: 0;
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        width: auto;
        align-items: center;
        input {
            width: 300px;
        }
    }
    .button {
        &_submit {
            width: 300px;
        }
    }
    .carousel {
        padding: 50px 0;
        &__inner {
            width: 100%;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            width: 200px;
            height: 40px;
            font-size: 15px;
            line-height: 39px;
        }
    }

    .footer {
        height: 500px;
        &__map {
            height: 500px;
        }
        &__addr {
            font-size: 16px;
            line-height: 16px;
        }
        &__phone {
            font-size: 16px;
            line-height: 16px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 20px;
            }
        }
    }
}
@media (max-width: 575px) {
    .header {
        &__contacts {
            padding-left: 10px;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .button {
        width: 130px;
        height: 20px;
        font-size: 10px;
        &_main {
            width: 180px;
            height: 35px;
        }
    }
    .promo {
        &__header {
            font-size: 25px;
            text-align: center;
        }
        &__subheader {
            font-size: 13px;
            text-align: center;
        }
        &__icons {
            display: block;
            width: auto;
            margin-top: 20px;
        }
        &__icon {
            width: auto;
            font-size: 11px;
            img {
                margin-top: 40px;
            }
        }
        &__link {
            font-size: 15px;
        }
    }
    .advantage {
        &__wrapper {
            display: block;
            margin: 0;
        }
        &__item {
            width: auto;
            margin-top: 50px;
        }
        &__subtitle {
            margin-top: 15px;
            font-size: 15px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 13px;
        }
    }
    .title {
        font-size: 20px;
        &_left {
            font-size: 18px;
        }
    }
    .consultation {
        &__descr {
            font-size: 15px;
        }
        label.error {
            font-size: 11px;
        }
    }
    .feed-form {
        input {
            width: 200px;
            height: 40px;
        }
    }
    .button {
        &_submit {
            width: 200px;
            height: 40px;
        }
    }
    .carousel {
        .slick-dots button {
            width: 13px;
            height: 13px;
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin: 10px 0;
        }
        &__content {
            margin-top: 40px;
        }
    }
    .catalog-item {
        &__content {
            padding: 0 5px;
        }
        &__old-price {
            font-size: 12px;
        }
        &__price {
            font-size: 15px;
        }
    }
    .feedback {
        &__item {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__wrapper {
            margin-left: 0;
        }
        &__subtitle {
            text-align: center;
            margin-top: 15px;
        }
        &__descr {
            text-align: center;
        }
        &__text {
            text-align: center;
            font-size: 14px;
            line-height: 14px;
        }
    }
    .footer {
        height: 250px;
        &__map {
            display: none;
        }
        &__info {
            position: relative;
            height: 250px;
            background-color: rgb(141, 141, 129);
        }
    }
    .modal {
        width: 260px;
        min-height: auto;
        padding: 15px;
        &__close {
            font-size: 30px;
            right: -3px;
            line-height: 11px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 12px;
            margin-top: 5px;
        }
        label.error {
            font-size: 11px;
        }
    }
    .pageup {
        bottom: 17px;
        right: 17px;
        width: 25px;
        height: 25px;
    }
    // path {
    //     fill: #ffffff
    // }
}