@media (max-width: 991px) {
    .container {
        padding: 0 25px
    }
    .advantage {
        &__descr {
            padding: 0 10px;
        }
    }
    .carousel {
        .slick-dots {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
        }
        .slick-dots button {
            border: none;
            border-radius: 50%;
            font-size: 0;
            width: 15px;
            height: 15px;
            background-color: #757575;
        }
        .slick-active button {
            background-color: #000
        }
    }
}
@media (max-width: 767px) {
    .header {
        justify-content: space-around;
        &__official {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
            margin-top: 70px;
        }
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .advantage {
        padding: 60px 0 70px 0;
        &__wrapper {
            margin-top: 45px;
        }
        &__item {
            width: 220px;
        }
    }
    .title {
        font-size: 25px;
        &_left {
            text-align: center;
        }
    }
    .consultation {
        padding: 50px 0 45px 0;
        min-height: 0;
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        width: auto;
        align-items: center;
        input {
            width: 300px;
        }
    }
    .button {
        &_submit {
            width: 300px;
        }
    }
    .carousel {
        padding: 50px 0;
        &__inner {
            width: 100%;
        }
    }
}
@media (max-width: 575px) {
    .header {
        &__contacts {
            padding-left: 10px;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .button {
        width: 130px;
        height: 20px;
        font-size: 10px;
        &_main {
            width: 180px;
            height: 35px;
        }
    }
    .promo {
        &__header {
            font-size: 25px;
            text-align: center;
        }
        &__subheader {
            font-size: 13px;
            text-align: center;
        }
        &__icons {
            display: block;
            width: auto;
            margin-top: 20px;
        }
        &__icon {
            width: auto;
            font-size: 11px;
            img {
                margin-top: 40px;
            }
        }
        &__link {
            font-size: 15px;
        }
    }
    .advantage {
        &__wrapper {
            display: block;
            margin: 0;
        }
        &__item {
            width: auto;
            margin-top: 50px;
        }
        &__subtitle {
            margin-top: 15px;
            font-size: 15px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 13px;
        }
    }
    .title {
        font-size: 20px;
        &_left {
            font-size: 18px;
        }
    }
    .consultation {
        &__descr {
            font-size: 15px;
        }
    }
    .feed-form {
        input {
            width: 200px;
            height: 40px;
        }
    }
    .button {
        &_submit {
            width: 200px;
            height: 40px;
        }
    }
    .carousel {
        .slick-dots button {
            width: 10px;
            height: 10px;
        }
    }
}